:root{
    --preto: #000;
    --cinza-escuro: #808080;
    --cinza-claro: #e5e5e5;
    --branco: #fff;
    --branco-fonte: #fdfdfd;
    --vinho: #8d0606;
    --vinho-escuro: #620404;

    --fonte-cursiva: Pacifico, cursive;
}