header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--branco);
    padding-left: 2rem;
    padding-right: 2rem;
}

header nav ul {
    display: flex;
}

header nav ul li:last-child {
    margin: 0;
}

header nav ul li {
    list-style: none;
}

.botao__nav {
    color: var(--cinza-escuro);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.botao__nav:hover {
  text-decoration: underline;
}

.botao__nav--selecionado {
    color: var(--preto);
    font-weight: 500;
    
}