*{
    font-family: 'Outfit', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background: hsl(217, 54%, 11%);
}

.container {
    background-color: hsl(216, 50%, 16%);
    width: 400px;
    height: 700px;
}

.content {
    margin: 25px;
}

.desc {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
}

.img-equilibrium {
    display: flex;
    height: 350px; 
    width: 350px;
    border-radius: 10px;
}

.title {
    color: white;
    font-size: 22px;
}

h2 {
    font-size: 14px;
}

.currency {
    display: inline;
    color: hsl(178, 100%, 50%);
}