:root{
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));

}

.faq-card {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.woman-desktop {
    position: relative;
    display: inline-block;
    transform: scale(1.1);
    right: 1037px;
    bottom: 2px;
}

.bg-pattern {
    position: relative;
    transform: scale(1.1);
    right: 541px;
    bottom: 100px;
}

.box {
    position: relative;
    top: 100px;
    right: 1600px;
    z-index: 2;
}