.receita__botao {
    background-color: var(--vinho);
    color: var(--branco-fonte);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background-color: var(--vinho-escuro);
}